.home {
  &-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background-30);
    z-index: 20;
  }

  &-modal {
    display: none;

    &__container {
      position: relative;
      padding: 118px 75px 122px 75px;
      max-width: 624px;
      border-radius: 10px;
      background-color: var(--color-white);
    }

    &__img {
      margin: 0 auto 32px auto;
      padding-right: 24px;
      display: block;
    }

    &__title {
      margin: 0;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      color: var(--color-black);
    }

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      z-index: 10;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 4px;
        width: 24px;
        height: 3px;
        background-color: var(--color-grey);
        transform: rotate(45deg);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 4px;
        width: 24px;
        height: 3px;
        background-color: var(--color-grey);
        transform: rotate(-45deg);
      }
    }
  }
}

.home-overlay--active {
  display: flex;
}

.home-modal--active {
  display: block;
}

@media (max-width: 568px) {

  .home {
    &-modal {
      &__container {
        position: relative;
        padding: 60px 51px;
        max-width: 296px;
      }

      &__img {
        margin: 0 auto 10px auto;
        padding-right: 10px;
        display: block;
        max-width: 84px;
      }

      &__title {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
