<head>

  <!-- === Page encoding === -->
  <!-- === Кодировка страницы === -->
  <meta charset="UTF-8">

  <!-- === Setting page responsiveness === -->
  <!-- === Настройка отзывчивости страницы === -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- === Page title in the browser === -->
  <!-- === Заголовок страницы в браузере === -->
  <title>SitDownPls</title>

  <!-- === Pre-loading fonts === -->
  <!-- === Предварительная загрузка шрифтов === -->
  <!-- == Woff2 format == -->
  <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PlayfairDisplay-Black.woff2" as="font" type="font/woff2" crossorigin>
  <!-- == Woff format == -->
  <link rel="preload" href="fonts/OpenSans-Regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="fonts/OpenSans-SemiBold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Bold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="fonts/PlayfairDisplay-Black.woff" as="font" type="font/woff" crossorigin>

  <!-- === Connecting ready-made style libraries === -->
  <!-- === Подключение готовых библиотек стилей === -->
  <link rel="stylesheet" href="css/vendor.css">

  <!-- === Connecting files with styles === -->
  <!-- === Подключение фаайлов со стилями === -->
  <link rel="stylesheet" href="css/main.css">

  <!-- === Information about the author === -->
  <!-- === Информация об авторе === -->
  <link rel="me" href="https://romahawk.ru">
  <link rel="me" href="mailto:romahawk.ru@gmail.com">

  <!-- === Connecting favicons === -->
  <!-- === Подключение фавиконок === -->
  <link rel="icon" href="favicon.ico" sizes="any">                            <!-- 32×32 -->
  <link rel="icon" href="img/favicons/favicon.svg" type="image/svg+xml">      <!-- SVG -->
  <link rel="apple-touch-icon" href="img/favicons/180.png">                   <!-- 180×180 apple favicon -->

  <!-- === Connecting the manifest to icons and settings === -->
  <!-- === Подключение манифеста к значкам и настройкам === -->
  <link rel="manifest" href="manifest.webmanifest">                           <!-- favicon manifest -->
  <meta name="application-name" content="SitDownPls">

  <!-- === Disabling link generation on iOS devices === -->
  <!-- === Отключение формирования ссылок на устройствах iOS === -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <!-- === Setting up SEO === -->
  <!-- === Настройка SEO === -->
  <meta name="description" content="Наш интернет-магазин предоставляет огромный выбор мебели и аксессуаров на любой вкус и цвет!">
  <meta name="keywords" content="мебель, аксессуары, магазин мебели, интернет-магазин, диваны, стулья, комоды, кровати">

  <!-- === Brief description of the page topic === -->
  <!-- === Краткое описание темы страницы === -->
  <meta name="subject" content="Интернет-магазин мебели и аксессуаров">

  <!-- === Managing the access of search robots to the page === -->
  <!-- === Управление доступа поисковых роботов к странице === -->
  <meta name="robots" content="none">
  <meta name="googlebot" content="none">

  <!-- === The author of the page === -->
  <!-- === Автор страницы === -->
  <meta name="author" content="Romahawk">

  <!-- === Copyright === -->
  <!-- === Авторские права === -->
  <meta name="copyright" content="SitDownPls">

  <!-- === Author's address === -->
  <!-- === Адрес Автора === -->
  <meta name="address" content="Россия, Хабаровск">

  <!-- === Setting the color of the browser tab === -->
  <!-- === Установка цвета вкладки браузера === -->
  <meta name="theme-color" content="hsl(0 0% 97%)">

  <!-- === Topics to be used on the site === -->
  <!-- === Темы, которые будут использована на сайте === -->
  <meta name="color-scheme" content="light">

  <!-- === Connecting scripts === -->
  <!-- === Подключение скриптов === -->
  <script defer src="js/vendor.js"></script>
  <script defer src="js/main.js"></script>

</head>
