<section class="bread-crumbs">
  <div class="container bread-crumbs__container">
    <h2 class="visually-hidden">Section Bread-crumbs</h2>
    <ul class="bread-crumbs__list">
      <li class="bread-crumbs__item">
        <a href="index.html" class="bread-crumbs__link">Главная&nbsp;&nbsp;/</a>
      </li>
      <li class="bread-crumbs__item">
        <a href="index.html" class="bread-crumbs__link">Каталог&nbsp;/</a>
      </li>
      <li class="bread-crumbs__item">
        <a href="index.html" class="bread-crumbs__link">Диваны&nbsp;/</a>
      </li>
      <li class="bread-crumbs__item">
        <a href="index.html" class="bread-crumbs__link">Прямые диваны</a>
      </li>
    </ul>
  </div>
</section>
