<section class="modals">
  <div class="modals__overlay">
    <div class="product-card-modal" id="formSend" data-target="oneClick">
      <div class="container product-card-modal__container">
        <h2 class="title product-card-modal__title">
          Купить в один клик
        </h2>
        <p class="product-card-modal__text">
          Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.
        </p>
        <form action="#" class="product-card-modal__form" id="product-card-modal-form">
          <div class="product-card-modal__form-wrapper">
            <div class="product-card-modal__form-item">
              <label for="product-card-modal-Name"></label>
              <input class="product-card-modal__form-input" name="product-card-modal-Name" type="text" placeholder="Как вас зовут?" id="product-card-modal-Name">
            </div>
            <div class="product-card-modal__form-item">
              <label for="product-card-modal-Phone"></label>
              <input class="product-card-modal__form-input" name="product-card-modal-Phone" type="tel" placeholder="Ваш телефон" id="product-card-modal-Phone">
            </div>
          </div>
          <button class="btn-reset btn product-card-modal__form-btn form-btn-send" type="submit">
            Отправить
          </button>
          <div class="product-card-modal__form-checkbox">
            <label class="product-card-modal__form-checkbox-label" for="product-card-modal-checkbox">
              <input class="product-card-modal__form-checkbox-input" type="checkbox" name="checkbox" id="product-card-modal-checkbox">
              <span></span>
              <span  class="product-card-modal__form-checkbox-describe">
                Принимаю
                <a href="#" class="product-card-modal__form-checkbox-link">
                  пользовательское&nbsp;соглашение
                </a>
              </span>
            </label>
          </div>
        </form>
        <button class="btn-reset product-card-modal__close" id="modal-close">
          <span></span>
        </button>
      </div>
    </div>
    <div class="product-card-modal-slider">
      <div class="container product-card-modal-slider__container">
        <div class="product-card-modal-slider__item">
          <div class="swiper product-card-modal-slider__swiper-top">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-top-big-slide-1.webp, /img/webp/product-top-big-slide-1-2x.webp 2x, /img/webp/product-top-big-slide-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-1-1024.webp, /img/webp/product-top-big-slide-1-1024-2x.webp 2x, /img/webp/product-top-big-slide-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-1-768.webp, /img/webp/product-top-big-slide-1-768-2x.webp 2x, /img/webp/product-top-big-slide-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-1-320.webp, /img/webp/product-top-big-slide-1-320-2x.webp 2x, /img/webp/product-top-big-slide-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product-card-modal-slider__image-top"
                    src="/img/product-top-big-slide-1.png"
                    srcset="/img/product-top-big-slide-1-2x.png 2x, /img/product-top-big-slide-1-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-top-big-slide-2.webp, /img/webp/product-top-big-slide-2-2x.webp 2x, /img/webp/product-top-big-slide-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-2-1024.webp, /img/webp/product-top-big-slide-2-1024-2x.webp 2x, /img/webp/product-top-big-slide-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-2-768.webp, /img/webp/product-top-big-slide-2-768-2x.webp 2x, /img/webp/product-top-big-slide-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-2-320.webp, /img/webp/product-top-big-slide-2-320-2x.webp 2x, /img/webp/product-top-big-slide-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product-card-modal-slider__image-top"
                    src="/img/product-top-big-slide-2.png"
                    srcset="/img/product-top-big-slide-2-2x.png 2x, /img/product-top-big-slide-2-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-top-big-slide-3.webp, /img/webp/product-top-big-slide-3-2x.webp 2x, /img/webp/product-top-big-slide-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-3-1024.webp, /img/webp/product-top-big-slide-3-1024-2x.webp 2x, /img/webp/product-top-big-slide-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-3-768.webp, /img/webp/product-top-big-slide-3-768-2x.webp 2x, /img/webp/product-top-big-slide-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-3-320.webp, /img/webp/product-top-big-slide-3-320-2x.webp 2x, /img/webp/product-top-big-slide-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product-card-modal-slider__image-top"
                    src="/img/product-top-big-slide-3.png"
                    srcset="/img/product-top-big-slide-3-2x.png 2x, /img/product-top-big-slide-3-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-top-big-slide-4.webp, /img/webp/product-top-big-slide-4-2x.webp 2x, /img/webp/product-top-big-slide-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-4-1024.webp, /img/webp/product-top-big-slide-4-1024-2x.webp 2x, /img/webp/product-top-big-slide-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-4-768.webp, /img/webp/product-top-big-slide-4-768-2x.webp 2x, /img/webp/product-top-big-slide-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-4-320.webp, /img/webp/product-top-big-slide-4-320-2x.webp 2x, /img/webp/product-top-big-slide-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product-card-modal-slider__image-top"
                    src="/img/product-top-big-slide-4.png"
                    srcset="/img/product-top-big-slide-4-2x.png 2x, /img/product-top-big-slide-4-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-top-big-slide-5.webp, /img/webp/product-top-big-slide-5-2x.webp 2x, /img/webp/product-top-big-slide-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-5-1024.webp, /img/webp/product-top-big-slide-5-1024-2x.webp 2x, /img/webp/product-top-big-slide-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-5-768.webp, /img/webp/product-top-big-slide-5-768-2x.webp 2x, /img/webp/product-top-big-slide-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-top-big-slide-5-320.webp, /img/webp/product-top-big-slide-5-320-2x.webp 2x, /img/webp/product-top-big-slide-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product-card-modal-slider__image-top"
                    src="/img/product-top-big-slide-5.png"
                    srcset="/img/product-top-big-slide-5-2x.png 2x, /img/product-top-big-slide-5-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
            </div>
          </div>
          <div class="product-card-modal-slider__swiper-container">
            <div class="swiper product-card-modal-slider__swiper-bottom">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="/img/webp/product-bottom-big-slide-1.webp, /img/webp/product-bottom-big-slide-1-2x.webp 2x, /img/webp/product-bottom-big-slide-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-1-1024.webp, /img/webp/product-bottom-big-slide-1-1024-2x.webp 2x, /img/webp/product-bottom-big-slide-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-1-768.webp, /img/webp/product-bottom-big-slide-1-768-2x.webp 2x, /img/webp/product-bottom-big-slide-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-1-320.webp, /img/webp/product-bottom-big-slide-1-320-2x.webp 2x, /img/webp/product-bottom-big-slide-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                    <img
                      class="product-card-modal-slider__image-bottom"
                      src="/img/product-bottom-big-slide-1.png"
                      srcset="/img/product-bottom-big-slide-1-2x.png 2x, /img/product-bottom-big-slide-1-3x.png 3x"
                      alt="Изображение дивана"
                    >
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="/img/webp/product-bottom-big-slide-2.webp, /img/webp/product-bottom-big-slide-2-2x.webp 2x, /img/webp/product-bottom-big-slide-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-2-1024.webp, /img/webp/product-bottom-big-slide-2-1024-2x.webp 2x, /img/webp/product-bottom-big-slide-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-2-768.webp, /img/webp/product-bottom-big-slide-2-768-2x.webp 2x, /img/webp/product-bottom-big-slide-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-2-320.webp, /img/webp/product-bottom-big-slide-2-320-2x.webp 2x, /img/webp/product-bottom-big-slide-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                    <img
                      class="product-card-modal-slider__image-bottom"
                      src="/img/product-bottom-big-slide-2.png"
                      srcset="/img/product-bottom-big-slide-2-2x.png 2x, /img/product-bottom-big-slide-2-3x.png 3x"
                      alt="Изображение дивана"
                    >
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="/img/webp/product-bottom-big-slide-3.webp, /img/webp/product-bottom-big-slide-3-2x.webp 2x, /img/webp/product-bottom-big-slide-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-3-1024.webp, /img/webp/product-bottom-big-slide-3-1024-2x.webp 2x, /img/webp/product-bottom-big-slide-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-3-768.webp, /img/webp/product-bottom-big-slide-3-768-2x.webp 2x, /img/webp/product-bottom-big-slide-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-3-320.webp, /img/webp/product-bottom-big-slide-3-320-2x.webp 2x, /img/webp/product-bottom-big-slide-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                    <img
                      class="product-card-modal-slider__image-bottom"
                      src="/img/product-bottom-big-slide-3.png"
                      srcset="/img/product-bottom-big-slide-3-2x.png 2x, /img/product-bottom-big-slide-3-3x.png 3x"
                      alt="Изображение дивана"
                    >
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="/img/webp/product-bottom-big-slide-4.webp, /img/webp/product-bottom-big-slide-4-2x.webp 2x, /img/webp/product-bottom-big-slide-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-4-1024.webp, /img/webp/product-bottom-big-slide-4-1024-2x.webp 2x, /img/webp/product-bottom-big-slide-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-4-768.webp, /img/webp/product-bottom-big-slide-4-768-2x.webp 2x, /img/webp/product-bottom-big-slide-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-4-320.webp, /img/webp/product-bottom-big-slide-4-320-2x.webp 2x, /img/webp/product-bottom-big-slide-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                    <img
                      class="product-card-modal-slider__image-bottom"
                      src="/img/product-bottom-big-slide-4.png"
                      srcset="/img/product-bottom-big-slide-4-2x.png 2x, /img/product-bottom-big-slide-4-3x.png 3x"
                      alt="Изображение дивана"
                    >
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="/img/webp/product-bottom-big-slide-5.webp, /img/webp/product-bottom-big-slide-5-2x.webp 2x, /img/webp/product-bottom-big-slide-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-5-1024.webp, /img/webp/product-bottom-big-slide-5-1024-2x.webp 2x, /img/webp/product-bottom-big-slide-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-5-768.webp, /img/webp/product-bottom-big-slide-5-768-2x.webp 2x, /img/webp/product-bottom-big-slide-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                    <source srcset="/img/webp/product-bottom-big-slide-5-320.webp, /img/webp/product-bottom-big-slide-5-320-2x.webp 2x, /img/webp/product-bottom-big-slide-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                    <img
                      class="product-card-modal-slider__image-bottom"
                      src="/img/product-bottom-big-slide-5.png"
                      srcset="/img/product-bottom-big-slide-5-2x.png 2x, /img/product-bottom-big-slide-5-3x.png 3x"
                      alt="Изображение дивана"
                    >
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-button-next">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_663_1727)">
                  <circle cx="16" cy="16" r="15" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
                  <path d="M14 11L19 16L14 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clippath id="clip0_663_1727">
                    <rect width="32" height="32" fill="white"/>
                  </clippath>
                </defs>
              </svg>
            </div>
            <div class="swiper-button-prev">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_663_1728)">
                  <circle cx="16" cy="16" r="15" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
                  <path d="M14 11L19 16L14 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clippath id="clip0_663_1728">
                    <rect width="32" height="32" fill="white"/>
                  </clippath>
                </defs>
              </svg>
            </div>
          </div>

        </div>

        <button class="btn-reset product-card-modal-slider__close" id="modal-slider-close">
          <span></span>
        </button>
      </div>
    </div>
    <div class="product-card-modal-thanks" data-target="formSend">
      <div class="container product-card-modal-thanks__container">
        <div class="product-card-modal-thanks__wrap">
          <img class="product-card-modal-thanks__img" src="img/elephant-modal.svg" alt="image of an elephant">
          <p class="title product-card-modal-thanks__text">
            Спасибо, мы вам перезвоним!
          </p>
        </div>
        <button class="btn-reset product-card-modal-thanks__close" id="modal-thanks-close">
          <span></span>
        </button>
      </div>
    </div>
  </div>
</section>
