<section class="product">
  <div class="container product__container">
    <div class="product__card">

      <div class="product__item product__image">
        <div class="swiper product__swiper-top">
          <div class="swiper-wrapper">
            <div class="swiper-slide product__swiper-top-slide">
              <picture>
                <source srcset="/img/webp/product-top-slide-1.webp, /img/webp/product-top-slide-1-2x.webp 2x, /img/webp/product-top-slide-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-1-1024.webp, /img/webp/product-top-slide-1-1024-2x.webp 2x, /img/webp/product-top-slide-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-1-768.webp, /img/webp/product-top-slide-1-768-2x.webp 2x, /img/webp/product-top-slide-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-1-320.webp, /img/webp/product-top-slide-1-320-2x.webp 2x, /img/webp/product-top-slide-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                <img
                  class="product__card-slide-image"
                  src="/img/product-top-slide-1.png"
                  srcset="/img/product-top-slide-1-2x.png 2x, /img/product-top-slide-1-3x.png 3x"
                  alt="Изображение дивана"
                >
              </picture>
            </div>
            <div class="swiper-slide product__swiper-top-slide">
              <picture>
                <source srcset="/img/webp/product-top-slide-2.webp, /img/webp/product-top-slide-2-2x.webp 2x, /img/webp/product-top-slide-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-2-1024.webp, /img/webp/product-top-slide-2-1024-2x.webp 2x, /img/webp/product-top-slide-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-2-768.webp, /img/webp/product-top-slide-2-768-2x.webp 2x, /img/webp/product-top-slide-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-2-320.webp, /img/webp/product-top-slide-2-320-2x.webp 2x, /img/webp/product-top-slide-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                <img
                  class="product__card-slide-image"
                  src="/img/product-top-slide-2.png"
                  srcset="/img/product-top-slide-2-2x.png 2x, /img/product-top-slide-2-3x.png 3x"
                  alt="Изображение дивана"
                >
              </picture>
            </div>
            <div class="swiper-slide product__swiper-top-slide">
              <picture>
                <source srcset="/img/webp/product-top-slide-3.webp, /img/webp/product-top-slide-3-2x.webp 2x, /img/webp/product-top-slide-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-3-1024.webp, /img/webp/product-top-slide-3-1024-2x.webp 2x, /img/webp/product-top-slide-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-3-768.webp, /img/webp/product-top-slide-3-768-2x.webp 2x, /img/webp/product-top-slide-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-3-320.webp, /img/webp/product-top-slide-3-320-2x.webp 2x, /img/webp/product-top-slide-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                <img
                  class="product__card-slide-image"
                  src="/img/product-top-slide-3.png"
                  srcset="/img/product-top-slide-3-2x.png 2x, /img/product-top-slide-3-3x.png 3x"
                  alt="Изображение дивана"
                >
              </picture>
            </div>
            <div class="swiper-slide product__swiper-top-slide">
              <picture>
                <source srcset="/img/webp/product-top-slide-4.webp, /img/webp/product-top-slide-4-2x.webp 2x, /img/webp/product-top-slide-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-4-1024.webp, /img/webp/product-top-slide-4-1024-2x.webp 2x, /img/webp/product-top-slide-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-4-768.webp, /img/webp/product-top-slide-4-768-2x.webp 2x, /img/webp/product-top-slide-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-4-320.webp, /img/webp/product-top-slide-4-320-2x.webp 2x, /img/webp/product-top-slide-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                <img
                  class="product__card-slide-image"
                  src="/img/product-top-slide-4.png"
                  srcset="/img/product-top-slide-4-2x.png 2x, /img/product-top-slide-4-3x.png 3x"
                  alt="Изображение дивана"
                >
              </picture>
            </div>
            <div class="swiper-slide product__swiper-top-slide">
              <picture>
                <source srcset="/img/webp/product-top-slide-5.webp, /img/webp/product-top-slide-5-2x.webp 2x, /img/webp/product-top-slide-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-5-1024.webp, /img/webp/product-top-slide-5-1024-2x.webp 2x, /img/webp/product-top-slide-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-5-768.webp, /img/webp/product-top-slide-5-768-2x.webp 2x, /img/webp/product-top-slide-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                <source srcset="/img/webp/product-top-slide-5-320.webp, /img/webp/product-top-slide-5-320-2x.webp 2x, /img/webp/product-top-slide-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                <img
                  class="product__card-slide-image"
                  src="/img/product-top-slide-5.png"
                  srcset="/img/product-top-slide-5-2x.png 2x, /img/product-top-slide-5-3x.png 3x"
                  alt="Изображение дивана"
                >
              </picture>
            </div>
          </div>
        </div>
        <div class="product__swiper-container">
          <div class="swiper product__swiper-bottom">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-bottom-slide-1.webp, /img/webp/product-bottom-slide-1-2x.webp 2x, /img/webp/product-bottom-slide-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-1-1024.webp, /img/webp/product-bottom-slide-1-1024-2x.webp 2x, /img/webp/product-bottom-slide-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-1-768.webp, /img/webp/product-bottom-slide-1-768-2x.webp 2x, /img/webp/product-bottom-slide-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-1-320.webp, /img/webp/product-bottom-slide-1-320-2x.webp 2x, /img/webp/product-bottom-slide-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product__card-slide-image"
                    src="/img/product-bottom-slide-1.png"
                    srcset="/img/product-bottom-slide-1-2x.png 2x, /img/product-bottom-slide-1-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-bottom-slide-2.webp, /img/webp/product-bottom-slide-2-2x.webp 2x, /img/webp/product-bottom-slide-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-2-1024.webp, /img/webp/product-bottom-slide-2-1024-2x.webp 2x, /img/webp/product-bottom-slide-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-2-768.webp, /img/webp/product-bottom-slide-2-768-2x.webp 2x, /img/webp/product-bottom-slide-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-2-320.webp, /img/webp/product-bottom-slide-2-320-2x.webp 2x, /img/webp/product-bottom-slide-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product__card-slide-image"
                    src="/img/product-bottom-slide-2.png"
                    srcset="/img/product-bottom-slide-2-2x.png 2x, /img/product-bottom-slide-2-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-bottom-slide-3.webp, /img/webp/product-bottom-slide-3-2x.webp 2x, /img/webp/product-bottom-slide-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-3-1024.webp, /img/webp/product-bottom-slide-3-1024-2x.webp 2x, /img/webp/product-bottom-slide-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-3-768.webp, /img/webp/product-bottom-slide-3-768-2x.webp 2x, /img/webp/product-bottom-slide-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-3-320.webp, /img/webp/product-bottom-slide-3-320-2x.webp 2x, /img/webp/product-bottom-slide-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product__card-slide-image"
                    src="/img/product-bottom-slide-3.png"
                    srcset="/img/product-bottom-slide-3-2x.png 2x, /img/product-bottom-slide-3-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-bottom-slide-4.webp, /img/webp/product-bottom-slide-4-2x.webp 2x, /img/webp/product-bottom-slide-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-4-1024.webp, /img/webp/product-bottom-slide-4-1024-2x.webp 2x, /img/webp/product-bottom-slide-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-4-768.webp, /img/webp/product-bottom-slide-4-768-2x.webp 2x, /img/webp/product-bottom-slide-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-4-320.webp, /img/webp/product-bottom-slide-4-320-2x.webp 2x, /img/webp/product-bottom-slide-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product__card-slide-image"
                    src="/img/product-bottom-slide-4.png"
                    srcset="/img/product-bottom-slide-4-2x.png 2x, /img/product-bottom-slide-4-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="/img/webp/product-bottom-slide-5.webp, /img/webp/product-bottom-slide-5-2x.webp 2x, /img/webp/product-bottom-slide-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-5-1024.webp, /img/webp/product-bottom-slide-5-1024-2x.webp 2x, /img/webp/product-bottom-slide-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-5-768.webp, /img/webp/product-bottom-slide-5-768-2x.webp 2x, /img/webp/product-bottom-slide-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
                  <source srcset="/img/webp/product-bottom-slide-5-320.webp, /img/webp/product-bottom-slide-5-320-2x.webp 2x, /img/webp/product-bottom-slide-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

                  <img
                    class="product__card-slide-image"
                    src="/img/product-bottom-slide-5.png"
                    srcset="/img/product-bottom-slide-5-2x.png 2x, /img/product-bottom-slide-5-3x.png 3x"
                    alt="Изображение дивана"
                  >
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product__item product-buy">
        <span class="product__star">
          <svg width="16" height="15" viewbox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.2257 5.28193L10.5089 4.59758L8.40032 0.330127C8.34273 0.213287 8.24799 0.118702 8.13095 0.0612089C7.83742 -0.0834504 7.48074 0.037099 7.33398 0.330127L5.22543 4.59758L0.508622 5.28193C0.378579 5.30047 0.259684 5.36167 0.168654 5.45441C0.0586046 5.56733 -0.00203778 5.71924 5.22879e-05 5.87678C0.00214235 6.03431 0.0667938 6.18457 0.179801 6.29454L3.59248 9.61614L2.78622 14.3064C2.76731 14.4156 2.7794 14.5278 2.82113 14.6304C2.86285 14.733 2.93253 14.8218 3.02228 14.8869C3.11202 14.952 3.21823 14.9906 3.32886 14.9985C3.4395 15.0064 3.55013 14.9831 3.64821 14.9314L7.86715 12.717L12.0861 14.9314C12.2013 14.9926 12.335 15.013 12.4632 14.9908C12.7865 14.9352 13.0038 14.6291 12.9481 14.3064L12.1418 9.61614L15.5545 6.29454C15.6474 6.20367 15.7087 6.08497 15.7273 5.95515C15.7774 5.63059 15.5508 5.33015 15.2257 5.28193Z" fill="#FF862F"/>
          </svg>
          4,8
        </span>
        <h2 class="product__title">Диван тканевый прямой “D&#8209;31”</h2>
        <p class="product__subtitle">
          Мини 120 см без ящика Stark синий (Рогожка)
        </p>
        <span class="product__price">
          28&nbsp;490&nbsp;руб
        </span>
        <button class="btn-reset btn product__btn" id="product-buy-btn">
          Купить в один клик
        </button>
        <button class="btn-reset product__btn-add">
          + Добавить в корзину
        </button>
      </div>

      <div class="product__item product__describe">
        <div class="product__describe-inner">
          <h3 class="product__describe-title">
            Опорный механизм
          </h3>
          <p class="product__describe-text">
            Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию.
            У опорного дивана сиденье «выпрыгивает» вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный штрих — опустить&nbsp;спинку.
          </p>
          <p class="product__describe-text">
            Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.
          </p>
        </div>
        <picture>
          <source srcset="/img/webp/product-card-img-bg.webp, /img/webp/product-card-img-bg-2x.webp 2x, /img/webp/product-card-img-bg-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/product-card-img-bg-1024.webp, /img/webp/product-card-img-bg-1024-2x.webp 2x, /img/webp/product-card-img-bg-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/product-card-img-bg-768.webp, /img/webp/product-card-img-bg-768-2x.webp 2x, /img/webp/product-card-img-bg-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/product-card-img-bg-320.webp, /img/webp/product-card-img-bg-320-2x.webp 2x, /img/webp/product-card-img-bg-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="product__item-img"
            src="/img/product-card-img-bg.png"
            srcset="/img/product-card-img-bg-2x.png 2x, /img/product-card-img-bg-3x.png 3x"
            alt="Изображение дивана"
          >
        </picture>
      </div>

      <div class="product__item product__specifications">
        <ul class="product__specifications-list">
          <li class="product__specifications-item">
            Гарантия
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">18&nbsp;месяцев</span>
          </li>
          <li class="product__specifications-item">
            Артикул
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">AAA41269004</span>
          </li>
          <li class="product__specifications-item">
            Длина
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">163&nbsp;см</span>
          </li>
          <li class="product__specifications-item">
            Высота
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">90&nbsp;см</span>
          </li>
          <li class="product__specifications-item">
            Глубина
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">108&nbsp;см</span>
          </li>
          <li class="product__specifications-item">
            Спальное&nbsp;место
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">200&nbsp;см&nbsp;х&nbsp;125&nbsp;см</span>
          </li>
          <li class="product__specifications-item">
            Высота&nbsp;посадки
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">45&nbsp;см</span>
          </li>
          <li class="product__specifications-item">
            Механизм
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Опорный</span>
          </li>
          <li class="product__specifications-item">
            Тип&nbsp;обивки
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Рогожка</span>
          </li>
          <li class="product__specifications-item">
            Цвет
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Синий</span>
          </li>
          <li class="product__specifications-item">
            Наполнитель
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Независимый&nbsp;пружинный&nbsp;блок</span>
          </li>
          <li class="product__specifications-item">
            Материал&nbsp;каркаса
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Металл.&nbsp;рама&nbsp;с&nbsp;дерев.&nbsp;латами</span>
          </li>
          <li class="product__specifications-item">
            Количество&nbsp;мест
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Двухместные</span>
          </li>
          <li class="product__specifications-item">
            Категория
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Прямые&nbsp;тканевые&nbsp;диваны</span>
          </li>
          <li class="product__specifications-item">
            Возврат
            <span class="product__specifications-item-dotts"></span>
            <span class="product__specifications-item-accordance">Условия</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
