:root {
  // colors
  --color-primary:         #a65cf0;
  --color-primary-light:   #c998fb;
  --color-primary-shade:   #7033ac;
  --color-pink-light:      #f8efff;
  --color-pink-violet:     #ebd1ff;
  --color-secondary:       #ff862f;
  --color-secondary-light: #ffbd59;
  --color-secondary-shade: #bb370e;
  --color-red-input:       #ff6972;
  --color-green-input:     #b8ec64;
  --color-gold:            #D5B986;
  --color-white:           #ffffff;
  --color-grey-light:      #f7f7f7;
  --color-md-grey:         #eaeaea;
  --color-grey:            #999999;
  --color-grey-shade:      #666666;
  --color-black:           #333333;
  --color-background-20:   rgba(0, 0, 0, 0.2);
  --color-background-30:   rgba(0, 0, 0, 0.3);
  --color-lime:            #DAFFD1;
  --color-done:            #FFF5D1;
}
