<section class="top-categories">
  <div class="container top-categories__container">
    <h2 class="title">
      Топ категории
    </h2>
    <div class="top-categories__wrapper">
      <div class="top-categories__card">
        <ul class="top-categories__card-list">
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Прямые</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Угловые</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Модульные</a>
          </li>
        </ul>
        <h3 class="top-categories__card-title">
          Диваны
        </h3>
        <picture>
          <source srcset="/img/webp/top-categories-card-img-1.webp, /img/webp/top-categories-card-img-1-2x.webp 2x, /img/webp/top-categories-card-img-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-1-1024.webp, /img/webp/top-categories-card-img-1-1024-2x.webp 2x, /img/webp/top-categories-card-img-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-1-768.webp, /img/webp/top-categories-card-img-1-768-2x.webp 2x, /img/webp/top-categories-card-img-1-768-3x.webp 3x" media="(min-width: 569px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-1-320.webp, /img/webp/top-categories-card-img-1-320-2x.webp 2x, /img/webp/top-categories-card-img-1-320-3x.webp 3x" media="(max-width: 568px)" type="image/webp">

          <img
            class="top-categories__card-img"
            src="/img/top-categories-card-img-1.png"
            srcset="/img/top-categories-card-img-1-2x.png 2x, /img/top-categories-card-img-1-3x.png 3x"
            alt="Изображение дивана"
          >
        </picture>
        <a href="catalog.html" class="top-categories__card-bottom-link">
          <span>В&nbsp;каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_663_1822)">
              <circle cx="11" cy="11" r="10" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clippath id="clip0_663_1822">
                <rect width="22" height="22" fill="white"/>
              </clippath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="top-categories__card">
        <ul class="top-categories__card-list">
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Мягкие</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Кресла кровати</a>
          </li>
        </ul>
        <h3 class="top-categories__card-title">
          Кресла
        </h3>
        <picture>
          <source srcset="/img/webp/top-categories-card-img-2.webp, /img/webp/top-categories-card-img-2-2x.webp 2x, /img/webp/top-categories-card-img-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-2-1024.webp, /img/webp/top-categories-card-img-2-1024-2x.webp 2x, /img/webp/top-categories-card-img-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-2-768.webp, /img/webp/top-categories-card-img-2-768-2x.webp 2x, /img/webp/top-categories-card-img-2-768-3x.webp 3x" media="(min-width: 569px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-2-320.webp, /img/webp/top-categories-card-img-2-320-2x.webp 2x, /img/webp/top-categories-card-img-2-320-3x.webp 3x" media="(max-width: 568px)" type="image/webp">

          <img
            class="top-categories__card-img"
            src="/img/top-categories-card-img-2.png"
            srcset="/img/top-categories-card-img-2-2x.png 2x, /img/top-categories-card-img-2-3x.png 3x"
            alt="Изображение кресел"
          >
        </picture>
        <a href="catalog.html" class="top-categories__card-bottom-link">
          <span>В&nbsp;каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_663_1822)">
              <circle cx="11" cy="11" r="10" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clippath id="clip0_663_18">
                <rect width="22" height="22" fill="white"/>
              </clippath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="top-categories__card">
        <ul class="top-categories__card-list">
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Односпальные</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Двуспальные</a>
          </li>
        </ul>
        <h3 class="top-categories__card-title">
          Кровати
        </h3>
        <picture>
          <source srcset="/img/webp/top-categories-card-img-3.webp, /img/webp/top-categories-card-img-3-2x.webp 2x, /img/webp/top-categories-card-img-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-3-1024.webp, /img/webp/top-categories-card-img-3-1024-2x.webp 2x, /img/webp/top-categories-card-img-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-3-768.webp, /img/webp/top-categories-card-img-3-768-2x.webp 2x, /img/webp/top-categories-card-img-3-768-3x.webp 3x" media="(min-width: 569px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-3-320.webp, /img/webp/top-categories-card-img-3-320-2x.webp 2x, /img/webp/top-categories-card-img-3-320-3x.webp 3x" media="(max-width: 568px)" type="image/webp">

          <img
            class="top-categories__card-img"
            src="/img/top-categories-card-img-3.png"
            srcset="/img/top-categories-card-img-3-2x.png 2x, /img/top-categories-card-img-3-3x.png 3x"
            alt="Изображение кровати"
          >
        </picture>
        <a href="catalog.html" class="top-categories__card-bottom-link">
          <span>В&nbsp;каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_663_1822)">
              <circle cx="11" cy="11" r="10" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clippath id="clip0_663">
                <rect width="22" height="22" fill="white"/>
              </clippath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="top-categories__card">
        <ul class="top-categories__card-list">
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Тумбы</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Комоды</a>
          </li>
        </ul>
        <h3 class="top-categories__card-title">
          Тумбы и&nbsp;комоды
        </h3>
        <picture>
          <source srcset="/img/webp/top-categories-card-img-4.webp, /img/webp/top-categories-card-img-4-2x.webp 2x, /img/webp/top-categories-card-img-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-4-1024.webp, /img/webp/top-categories-card-img-4-1024-2x.webp 2x, /img/webp/top-categories-card-img-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-4-768.webp, /img/webp/top-categories-card-img-4-768-2x.webp 2x, /img/webp/top-categories-card-img-4-768-3x.webp 3x" media="(min-width: 569px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-4-320.webp, /img/webp/top-categories-card-img-4-320-2x.webp 2x, /img/webp/top-categories-card-img-4-320-3x.webp 3x" media="(max-width: 568px)" type="image/webp">

          <img
            class="top-categories__card-img"
            src="/img/top-categories-card-img-4.png"
            srcset="/img/top-categories-card-img-4-2x.png 2x, /img/top-categories-card-img-4-3x.png 3x"
            alt="Изображение комода"
          >
        </picture>
        <a href="catalog.html" class="top-categories__card-bottom-link">
          <span>В&nbsp;каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_663_1822)">
              <circle cx="11" cy="11" r="10" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clippath id="clip0_663_18342">
                <rect width="22" height="22" fill="white"/>
              </clippath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="top-categories__card">
        <ul class="top-categories__card-list">
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Деревянные</a>
          </li>
          <li class="top-categories__card-item">
            <a href="#" class="top-categories__card-link">Металлокаркас</a>
          </li>
        </ul>
        <h3 class="top-categories__card-title">
          Стулья
        </h3>
        <picture>
          <source srcset="/img/webp/top-categories-card-img-5.webp, /img/webp/top-categories-card-img-5-2x.webp 2x, /img/webp/top-categories-card-img-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-5-1024.webp, /img/webp/top-categories-card-img-5-1024-2x.webp 2x, /img/webp/top-categories-card-img-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-5-768.webp, /img/webp/top-categories-card-img-5-768-2x.webp 2x, /img/webp/top-categories-card-img-5-768-3x.webp 3x" media="(min-width: 569px)" type="image/webp">
          <source srcset="/img/webp/top-categories-card-img-5-320.webp, /img/webp/top-categories-card-img-5-320-2x.webp 2x, /img/webp/top-categories-card-img-5-320-3x.webp 3x" media="(max-width: 568px)" type="image/webp">

          <img
            class="top-categories__card-img"
            src="/img/top-categories-card-img-5.png"
            srcset="/img/top-categories-card-img-5-2x.png 2x, /img/top-categories-card-img-5-3x.png 3x"
            alt="Изображение комода"
          >
        </picture>
        <a href="catalog.html" class="top-categories__card-bottom-link">
          <span>В&nbsp;каталог</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_663_1822)">
              <circle cx="11" cy="11" r="10" fill="#C998FB" stroke="#A65CF0" stroke-width="2"/>
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clippath id="clip345yhg663_1822">
                <rect width="22" height="22" fill="white"/>
              </clippath>
            </defs>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
