<section class="hero">

  <!-- Slider main container -->
  <div class="swiper hero__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper hero__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide hero-slide">
        <div class="container hero-slide__container">
          <h2 class="title hero-slide__title">
            Скидка 15% на&nbsp;первую&nbsp;покупку
          </h2>
          <button class="btn-reset btn hero-slide__btn">
            Получить!
          </button>
        </div>
        <picture>
          <source srcset="/img/webp/hero-img-1.webp, /img/webp/hero-img-1-2x.webp 2x, /img/webp/hero-img-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/hero-img-1-1024.webp, /img/webp/hero-img-1-1024-2x.webp 2x, /img/webp/hero-img-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/hero-img-1-768.webp, /img/webp/hero-img-1-768-2x.webp 2x, /img/webp/hero-img-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/hero-img-1-320.webp, /img/webp/hero-img-1-320-2x.webp 2x, /img/webp/hero-img-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="hero-slide__img"
            src="/img/hero-img-1.jpg"
            srcset="/img/hero-img-1-2x.jpg 2x, /img/hero-img-1-3x.jpg 3x"
            alt="Изображение слайда"
          >
        </picture>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="container hero-slide__container">
          <h2 class="title hero-slide__title">
            1000+ аксессуаров для&nbsp;дома
          </h2>
          <button class="btn-reset btn hero-slide__btn">
            Подробнее
          </button>
        </div>
        <picture>
          <source srcset="/img/webp/hero-img-2.webp, /img/webp/hero-img-2-2x.webp 2x, /img/webp/hero-img-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/hero-img-2-1024.webp, /img/webp/hero-img-2-1024-2x.webp 2x, /img/webp/hero-img-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/hero-img-2-768.webp, /img/webp/hero-img-2-768-2x.webp 2x, /img/webp/hero-img-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/hero-img-2-320.webp, /img/webp/hero-img-2-320-2x.webp 2x, /img/webp/hero-img-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="hero-slide__img"
            src="/img/hero-img-2.jpg"
            srcset="/img/hero-img-2-2x.jpg 2x, /img/hero-img-2-3x.jpg 3x"
            alt="Изображение слайда"
          >
        </picture>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="container hero-slide__container">
          <h2 class="title hero-slide__title hero-slide__title--white">
            Коллекция стильного и&nbsp;яркого&nbsp;текстиля
          </h2>
          <button class="btn-reset btn hero-slide__btn">
            Подробнее
          </button>
        </div>
        <picture>
          <source srcset="/img/webp/hero-img-3.webp, /img/webp/hero-img-3-2x.webp 2x, /img/webp/hero-img-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/hero-img-3-1024.webp, /img/webp/hero-img-3-1024-2x.webp 2x, /img/webp/hero-img-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/hero-img-3-768.webp, /img/webp/hero-img-3-768-2x.webp 2x, /img/webp/hero-img-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/hero-img-3-320.webp, /img/webp/hero-img-3-320-2x.webp 2x, /img/webp/hero-img-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="hero-slide__img"
            src="/img/hero-img-3.jpg"
            srcset="/img/hero-img-3-2x.jpg 2x, /img/hero-img-3-3x.jpg 3x"
            alt="Изображение слайда"
          >
        </picture>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <button class="btn-reset btn hero__btn">
    Получить!
  </button>

</section>
