<section class="special-offers">
  <div class="container special-offers__container">

    <h2 class="title">
      Специальные предложения
    </h2>

    <div class="special-offers__carousel">
      <div class="special-offers__card">
        <span class="special-offers__card-sale">
          -&nbsp;9&nbsp;000&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-1.webp, /img/webp/special-offers-card-img-1-2x.webp 2x, /img/webp/special-offers-card-img-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-1-1024.webp, /img/webp/special-offers-card-img-1-1024-2x.webp 2x, /img/webp/special-offers-card-img-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-1-768.webp, /img/webp/special-offers-card-img-1-768-2x.webp 2x, /img/webp/special-offers-card-img-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-1-320.webp, /img/webp/special-offers-card-img-1-320-2x.webp 2x, /img/webp/special-offers-card-img-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-1.png"
            srcset="/img/special-offers-card-img-1-2x.png 2x, /img/special-offers-card-img-1-3x.png 3x"
            alt="Изображение кресла"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Кресло&nbsp;велюровое “X-24”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              15&nbsp;990&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              24&nbsp;990&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
      <div class="special-offers__card special-offers__card--bgimg1">
        <span class="special-offers__card-sale">
          -&nbsp;10&nbsp;000&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-2.webp, /img/webp/special-offers-card-img-2-2x.webp 2x, /img/webp/special-offers-card-img-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-2-1024.webp, /img/webp/special-offers-card-img-2-1024-2x.webp 2x, /img/webp/special-offers-card-img-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-2-768.webp, /img/webp/special-offers-card-img-2-768-2x.webp 2x, /img/webp/special-offers-card-img-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-2-320.webp, /img/webp/special-offers-card-img-2-320-2x.webp 2x, /img/webp/special-offers-card-img-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-2.png"
            srcset="/img/special-offers-card-img-2-2x.png 2x, /img/special-offers-card-img-2-3x.png 3x"
            alt="Изображение дивана"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Диван тканевый “Z-44”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              22&nbsp;990&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              32&nbsp;990&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
      <div class="special-offers__card">
        <span class="special-offers__card-sale">
          -&nbsp;600&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-3.webp, /img/webp/special-offers-card-img-3-2x.webp 2x, /img/webp/special-offers-card-img-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-3-1024.webp, /img/webp/special-offers-card-img-3-1024-2x.webp 2x, /img/webp/special-offers-card-img-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-3-768.webp, /img/webp/special-offers-card-img-3-768-2x.webp 2x, /img/webp/special-offers-card-img-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-3-320.webp, /img/webp/special-offers-card-img-3-320-2x.webp 2x, /img/webp/special-offers-card-img-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-3.png"
            srcset="/img/special-offers-card-img-3-2x.png 2x, /img/special-offers-card-img-3-3x.png 3x"
            alt="Изображение часов"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Будильник  “Quartz-23”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              1&nbsp;290&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              1&nbsp;890&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
      <div class="special-offers__card">
        <span class="special-offers__card-sale">
          -&nbsp;300&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-4.webp, /img/webp/special-offers-card-img-4-2x.webp 2x, /img/webp/special-offers-card-img-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-4-1024.webp, /img/webp/special-offers-card-img-4-1024-2x.webp 2x, /img/webp/special-offers-card-img-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-4-768.webp, /img/webp/special-offers-card-img-4-768-2x.webp 2x, /img/webp/special-offers-card-img-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-4-320.webp, /img/webp/special-offers-card-img-4-320-2x.webp 2x, /img/webp/special-offers-card-img-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-4.png"
            srcset="/img/special-offers-card-img-4-2x.png 2x, /img/special-offers-card-img-4-3x.png 3x"
            alt="Изображение скульптуры"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Мини-скульптура “Oh my deer”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              690&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              990&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
      <div class="special-offers__card special-offers__card--bgimg2">
        <span class="special-offers__card-sale">
          -&nbsp;10&nbsp;000&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-5.webp, /img/webp/special-offers-card-img-5-2x.webp 2x, /img/webp/special-offers-card-img-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-5-1024.webp, /img/webp/special-offers-card-img-5-1024-2x.webp 2x, /img/webp/special-offers-card-img-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-5-768.webp, /img/webp/special-offers-card-img-5-768-2x.webp 2x, /img/webp/special-offers-card-img-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-5-320.webp, /img/webp/special-offers-card-img-5-320-2x.webp 2x, /img/webp/special-offers-card-img-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-5.png"
            srcset="/img/special-offers-card-img-5-2x.png 2x, /img/special-offers-card-img-5-3x.png 3x"
            alt="Изображение дивана"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Диван&nbsp;вел&#8209;флок “Z-85”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              22&nbsp;990&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              32&nbsp;990&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
      <div class="special-offers__card">
        <span class="special-offers__card-sale">
          -&nbsp;700&nbsp;&nbsp;
        </span>
        <picture>
          <source srcset="/img/webp/special-offers-card-img-6.webp, /img/webp/special-offers-card-img-6-2x.webp 2x, /img/webp/special-offers-card-img-6-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-6-1024.webp, /img/webp/special-offers-card-img-6-1024-2x.webp 2x, /img/webp/special-offers-card-img-6-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-6-768.webp, /img/webp/special-offers-card-img-6-768-2x.webp 2x, /img/webp/special-offers-card-img-6-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
          <source srcset="/img/webp/special-offers-card-img-6-320.webp, /img/webp/special-offers-card-img-6-320-2x.webp 2x, /img/webp/special-offers-card-img-6-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

          <img
            class="special-offers__card-img"
            src="/img/special-offers-card-img-6.png"
            srcset="/img/special-offers-card-img-6-2x.png 2x, /img/special-offers-card-img-6-3x.png 3x"
            alt="Изображение термометра"
          >
        </picture>
        <div class="special-offers__card-describe">
          <h3 class="title special-offers__card-title">
            Термометр + гидрометр “H-18”
          </h3>
          <div class="special-offers__card-price-box">
            <span class="special-offers__card-price">
              1&nbsp;390&nbsp;руб
            </span>
            <span class="special-offers__card-price special-offers__card-price--discount">
              2&nbsp;090&nbsp;руб
            </span>
          </div>
          <button class="btn-reset btn special-offers__card-describe-btn">
            Купить
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
